PORT="5196"
SENTRY_DSN="YOUR_SENTRY_DSN"
OPEN_AQ_API_URL="https://api.openaq.org"
OPEN_AQ_API_KEY="YOUR_OPEN_AQ_API_KEY"
OPEN_UV_API_URL="https://api.openuv.io/api"
OPEN_UV_API_KEY="YOUR_OPEN_UV_API_KEY"
